<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Factura Alquiler</title>
  {% load static from staticfiles %}

  <link href="{%static 'css/style.default.css' %}" rel="stylesheet">
  
</head>
<div class="col-sm-3"></div>
<div class="contentpanel col-sm-6 small">

      <div class="panel panel-default small">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 small">
                    <table  style="width:100%">
                        <tr>
                            <td rowspan="7"><img src="{% static 'images/descarga.png' %}" class="img-responsive mb10" alt=""
                            height="150" width="150"/></td>
                            <th class="text-center small" colspan="3"><h5>Contrato de Alquiler No.{{ alquiler.pk }}</h5></th>
                        </tr>
                        <tr>
                            <th>Factura No.</th>
                            <td>{{ alquiler.pk }}</td></tr>
                        <tr>
                            <th>Cliente</th>
                            <td>{{ alquiler.cliente.full_nombre }}</td>
                            <th>Identificacion.</th>
                            <td>{{ alquiler.cliente.identificacion }}</td>
                        </tr>
                            <tr>
                                <th>Direccion</th>
                                <td colspan="2">{{ alquiler.cliente.direccion }}</td>
                            </tr>
                            <tr>
                                <th>Telefono</th>
                                <td>{{ alquiler.cliente.telefono }}</td>
                            </tr>
                            <tr>
                                <th>Correo</th>
                                <td>{{ alquiler.cliente.correo }}</td>
                                <th>Deposito</th>
                                <td>{{ alquiler.deposito }}</td>
                            </tr>
                            <tr>
                                <th>Fecha Entrega</th>
                                <td>{{ alquiler.fecha_entrega }}</td>
                                <th>Fecha Devolucion</th>
                                <td>{{ alquiler.fecha_devolucion }}</td>
                            </tr>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-12 small">
                        <table style="width:100%">
                            <tr>
                                <td>A</td>
                                <td>La prenda sera entregada bajo la responsabilidad del CLIENTE y se compromete a pagar el valor total de la prenda</td>
                            </tr>
                            <tr>
                                <td>B</td>
                                <td>La prenda no debe ser lavada ni planchada</td>
                            </tr>
                            <tr>
                                <td>C</td>
                                <td>Pasadas la 24 horas de retirada la prenda se cobrara $ 1000 diarios</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div><!-- row -->
            <div class="small">
            <table class="table table-invoice">
            <thead>
              <tr>
                <th>Articulo</th>
                <th>Tipo</th>
                <th>Valor Unidad</th>
                <th>Valor Total</th>
              </tr>
            </thead>
            <tbody>
            {% for alquiler_detail in alquiler_detail%}
              <tr>
                <td>
                    <div class="text-primary"><strong>{{ alquiler_detail.articulo.referencia }}</strong></div>
                    {{ alquiler_detail.articulo.descripcion }}
                </td>
                <td>{{ alquiler_detail.articulo.nombre_tipo }}</td>
                <td>{{ alquiler_detail.precio }}</td>
                <td>{{ alquiler_detail.precio }}</td>
              </tr>
                {% endfor %}

          </table>
          </div><!-- table-responsive -->

            <table class="table table-total">
                <tbody>
                    <tr>
                        <td><strong>TOTAL :</strong></td>
                        <td>{{ suma }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="well">
                <p class="text-justify small"> Declaro que en la fecha he recibido en buen estado las prendas de vestir descritas en este documento,
                    las cuales estare devolviendo dentro de las 24 horas posteriores. la utilizacion del servicio objeto
                    del presente documento me responsabilizo por los danos y prejuicios que pueda causar debido al mal
                    uso de las prendas dano fisico accidental o voluntario y la demora de la entrega o devolucion de la
                    misma para constancia y garantia de lo angterior suscribo el siguiente pagare.
                </p>
                <p class="small"><h4 class="small">Pagare No {{ alquiler.pk }}</h4></p>
                <p class="text-justify small"> Yo, {{ alquiler.cliente.full_nombre }}, identificado como aparece al pie de la firma declaro -primero que he recibido
                    de Melba Hernandez Flores prendas de vestir valoradas en la suma de: {{ suma_original }}, -segundo que
                    dicha suma la pagare a Melba Hernandez Flores a su orden en sus oficinas en solo contado el dia {{ alquiler.fecha_entrega }}
                    -terecero de aviso previo o notificacion al deudor -cuarto que en el caso de mora en el pago de la
                    obligacion contenida en este titulo de sus accesorios se extinguira el plazo y se exigira el pago total
                    de la deuda, reconociendo interes de mora a la tasa maxima certificada por la super intendencia bancaria
                    asi como los gastos de cobranza tasado en el 20 % del valor del presente documento
                </p>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <div class="row"><hr></div>
                    <div class="row"><h5 class="text-center small">Firma</h5></div>
                </div>
                <div class="col-lg-5">
                    <div class="row text-center">{{ alquiler.cliente.identificacion }}</div>
                    <div class="row"><h5 class="text-center small">CC / Nit</h5></div>
                </div>
            </div>
        </div><!-- panel-body -->
      </div><!-- panel -->
    </div>
<body>


<script src="{%static 'js/jquery-1.10.2.min.js' %}"></script>
<script src="{%static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
<script src="{%static 'js/bootstrap.min.js' %}"></script>
<script src="{%static 'js/modernizr.min.js' %}"></script>
<script src="{%static 'js/jquery.sparkline.min.js' %}"></script>
<script src="{%static 'js/toggles.min.js' %}"></script>
<script src="{%static 'js/retina.min.js' %}"></script>
<script src="{%static 'js/jquery.cookies.js' %}"></script>

<script src="{%static 'js/custom.js' %}"></script>

</body>
</html>
