{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %} Proveedor {% endblock%}

{% block link%} <link href="{% static 'css/jquery.datatables.css' %}" rel="stylesheet"> {%endblock%}

{% block user%} {{ user.username }} {% endblock %}

{% block user2 %} {{ user.username }} {% endblock %}

{% block page %} Proveedor {% endblock %}

{% block page2 %} Proveedor {% endblock %}

{% block contenido%}
    <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
        </div>
        <div class="panel-body">
          <div class="table-responsive">
          <table class="table" id="table3">
              <thead>
                 <tr>
                    <th>Nombre Empresa</th>
                    <th>Nit</th>
                    <th>Telefono</th>
                    <th>Direccion</th>
                    <th>Correo</th>
                     <th>Persona Responsable</th>
                     <th>Tipo de Articulos</th>
                     <th></th>
                 </tr>
              </thead>
              <tbody>
                 {%for proveedor in proveedor%}
                 <tr class="odd gradeX">
                    <td>{{proveedor.nombre_Empresa}}</td>
                     <td>{{proveedor.nit}}</td>
                     <td>{{proveedor.telefono}}</td>
                     <td>{{proveedor.direccion}}</td>
                     <td>{{proveedor.correo}}</td>
                     <td>{{proveedor.personal_Responsable}}</td>
                     <td>{% for tipo in proveedor.tipo_Proveedor.all %}
                         {{tipo.nombre_tipo}}<br>
                         {% endfor %}
                     </td>
                    <td class="table-action">
                      <a href="{% url 'Gestion:Proveedor_Modificar' proveedor.pk %}"><i class="fa fa-pencil"></i></a>
                      <a href="{% url 'Gestion:Proveedor_Eliminar' proveedor.pk %}"><i class="fa fa-trash-o"></i></a>
                    </td>
                 </tr>

                 {%endfor%}
              </tbody>
           </table>
          </div><!-- table-responsive -->

        </div><!-- panel-body -->
      </div><!-- panel -->
{% endblock %}

{% block linkscript %}
<script src="{% static 'js/jquery.datatables.min.js'%}"></script>
<script src="{% static 'js/chosen.jquery.min.js'%}"></script>
{% endblock %}

{% block script %}
<script>
  jQuery(document).ready(function() {

    jQuery('#table').dataTable();

    jQuery('#table3').dataTable({
      "sPaginationType": "full_numbers"
    });

    // Chosen Select
    jQuery("select").chosen({
      'min-width': '100px',
      'white-space': 'nowrap',
      disable_search_threshold: 10
    });

    // Delete row in a table
    jQuery('.delete-row').click(function(){
      var c = confirm("Continue delete?");
      if(c)
        jQuery(this).closest('tr').fadeOut(function(){
          jQuery(this).remove();
        });

        return false;
    });

    // Show aciton upon row hover
    jQuery('.table-hidaction tbody tr').hover(function(){
      jQuery(this).find('.table-action-hide a').animate({opacity: 1});
    },function(){
      jQuery(this).find('.table-action-hide a').animate({opacity: 0});
    });
  });
</script>

{% endblock %}
