{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %} Ventas Control {% endblock%}

{% block link%} {%endblock%}

{% block user%} {{ user.username }}{% endblock %}

{% block user2 %} {{ user.username }}{% endblock %}

{% block page %} Ventas Control {% endblock %}

{% block page2 %} Ventas Control {% endblock %}

{% block contenido%}
    <div class="col-md-12">

          <form method="POST" action="">{% csrf_token %}
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="panel-btns">
                  <a href="#" class="panel-close">&times;</a>
                  <a href="#" class="minimize">&minus;</a>
                </div>
                <h4 class="panel-title">Ventas Control</h4>
                <p>Bienvenido, Ingrese por favor el rango que desea buscar</p>
              </div>
              <div class="panel-body">
                <div class="form-group">
                  <label class="col-sm-3 control-label">Fecha Inicio<span class="asterisk">*</span></label>
                  <div class="col-sm-9">
                    <input type="text"  id='prueba'name='Fecha_Inicio' placeholder="Fecha Inicio" class="form-control" required/>
                  </div>
                </div>
                  <div class="form-group">
                  <label class="col-sm-3 control-label">Fecha Final<span class="asterisk">*</span></label>
                  <div class="col-sm-9">
                    <input type="text"  id='prueba2'name='Fecha_Final' placeholder="Fecha Final" class="form-control" required/>
                  </div>
                </div>
              </div><!-- panel-body -->
              <div class="panel-footer">
                  <button type="submit" id='envio' class="btn btn-info ">Buscar</button>
              </div>
          </div><!-- panel -->
              </form>
    </div>
    {% if registro %}
        <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="panel-btns">
                  <a href="#" class="panel-close">&times;</a>
                  <a href="#" class="minimize">&minus;</a>
                </div>
                <h4 class="panel-title">Ventas Control</h4>
              </div>
              <div class="panel-body">
                  <div class="table-responsive">
                      <table class="table" id="table2">
                          <thead>
                             <tr>
                                <th colspan="3" class="text-center">Informe de Ventas</th>
                             </tr>
                          </thead>
                          <tbody>
                             <tr class="gradeC">
                                <th>Fecha de Control</th>
                                <th class="text-center">{{ fecha_inicio }} </th>
                                <th class="text-center"> {{ fecha_final }}</th>
                             </tr>
                             <tr class="gradeC">
                                <td>Ventas</td>
                                <td class="text-right" colspan="2">{{ alqui_suma }}</td>
                             </tr>
                             <tr class="gradeC">
                                <td>Multas</td>
                                <td class="text-right" colspan="2">{{ multa_suma }}</td>
                             </tr>
                             <tr class="gradeC">
                                <td>Reservas Caducadas</td>
                                <td class="text-right" colspan="2">{{ reserva_cadu }}</td>
                             </tr>
                             <tr class="gradeC">
                                <th>Total</th>
                                <th class="text-right" colspan="2">{{ suma_total }}</th>
                             </tr>
                          </tbody>
                       </table>
                      </div><!-- table-responsive -->
              </div><!-- panel-body -->
              <div class="panel-footer">

              </div>
          </div><!-- panel -->
        </div>
    {% endif %}
{% endblock %}

{% block linkscript %}<script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.10.3.min.js' %}"></script>
    <script src="{% static 'js/chosen.jquery.min.js' %}"></script>
{% endblock %}

{% block script %}
<script>
    jQuery(document).ready(function(){
        jQuery(".chosen-select").chosen({'width':'100%','white-space':'nowrap'});
      // Basic Form
      jQuery("#basicForm").validate({
        highlight: function(element) {
          jQuery(element).closest('.form-group').removeClass('has-success').addClass('has-error');
        },
        success: function(element) {
          jQuery(element).closest('.form-group').removeClass('has-error');
        }
      });


      // Validation with select boxes
      jQuery("#basicForm4").validate({
        highlight: function(element) {
          jQuery(element).closest('.form-group').removeClass('has-success').addClass('has-error');
        },
        success: function(element) {
          jQuery(element).closest('.form-group').removeClass('has-error');
        }
      });

        jQuery("#prueba").datepicker({dateFormat: 'dd/mm/yy'});
        jQuery('#prueba2').datepicker({dateFormat: 'dd/mm/yy'});

    });
</script>
{% endblock %}