{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %} Articulo {% endblock%}

{% block link%}  {%endblock%}

{% block user %}{{ user.username }}{% endblock %}

{% block user2 %} {{ user.username }} {% endblock %}

{% block page %} Articulo {% endblock %}

{% block page2 %} Articulo {% endblock %}

{% block contenido%}
    <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-btns">
                <a href="#" class="panel-close">&times;</a>
                <a href="#" class="minimize">&minus;</a>
              </div>
              <h4 class="panel-title">Articulo</h4>
              <p>Bienvenido Ingrese todos los datos.</p>
            </div>
            <div class="panel-body panel-body-nopadding">

              <!-- BASIC WIZARD -->
              <div id="progressWizard" class="basic-wizard">

                <ul class="nav nav-pills nav-justified">
                  <li><a href="#ptab1" data-toggle="tab"><span>1:</span> Clasificacion </a></li>
                  <li><a href="#ptab2" data-toggle="tab"><span>2:</span> Informacion Basica</a></li>
                  <li><a href="#ptab3" data-toggle="tab"><span>3:</span> Informacion Avanzda</a></li>
                </ul>
                <form i action="#"  method="POST">
                {% csrf_token %}
                <div class="tab-content">

                  <div class="progress progress-striped active">
                    <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <div class="tab-pane" id="ptab1">
                      <div class="form-group">
                        <label class="col-sm-4">Categoria</label>
                        <div class="col-sm-8">
                          {{ form.categoria_idcategoria }}
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-4">Tipo</label>
                        <div class="col-sm-8">
                          {{ form.nombre_tipo }}

                        </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-4 control-label">Nuevo</label>
                          <div class="col-sm-8 control-label">
                            {{ form.nuevo }}
                          </div>
                      </div>
                  </div>
                  <div class="tab-pane" id="ptab2">
                      <div class="form-group">
                        <label class="col-sm-4">Referencia</label>
                        <div class="col-sm-8">
                          {{ form.referencia }}
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-4">Descripcion</label>
                        <div class="col-sm-8">
                          {{ form.descripcion }}
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-4">Ubicacion</label>
                        <div class="col-sm-8">
                          {{ form.ubicacion }}
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-4">Precio Original</label>
                        <div class="col-sm-8">
                          {{ form.precio_original }}
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-4">Precio Alquiler</label>
                        <div class="col-sm-8">
                          {{ form.precio }}
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-4">Talla</label>
                        <div class="col-sm-8">
                          {{ form.talla }}
                        </div>
                      </div>
                  </div>
                  <div class="tab-pane" id="ptab3">
                      <div class="form-group">
                        <label class="col-sm-4">Estado</label>
                        <div class="col-sm-8">
                          {{ form.nombre_estado }}
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-4">Estado de la Ropa</label>
                        <div class="col-sm-8">
                          {{ form.nombre_estado_ropa }}
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-4">Fecha Ingreso</label>
                        <div class="col-sm-3">
                            {{ form.fechaingreso}}
                        </div>
                        <label class="col-sm-2">Fecha Util</label>
                        <div class="col-sm-3">
                            {{ form.fechautil }}
                        </div>

                      </div>

                      <div class="form-group">
                        <label class="col-sm-4">Color</label>
                        <div class="col-sm-8">
                            {{ form.color }}
                        </div>
                      </div>
                      <button class="btn btn-primary center-block" type="submit">Guardar</button>
                  </div>


                </div><!-- tab-content -->
                </form>
                <ul class="pager wizard">
                    <li class="previous"><a href="javascript:void(0)">Previous</a></li>
                    <li class="next"><a href="javascript:void(0)">Next</a></li>
                  </ul>

              </div><!-- #basicWizard -->

            </div><!-- panel-body -->
          </div><!-- panel -->
        </div><!-- col-md-6 -->
{% endblock %}

{% block linkscript %}
    <script src="{% static 'js/bootstrap-wizard.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
{% endblock %}

{% block script %}
    <script>
        jQuery(document).ready(function(){

          // Basic Wizard
          jQuery('#basicWizard').bootstrapWizard();

          // Progress Wizard
          $('#progressWizard').bootstrapWizard({
            'nextSelector': '.next',
            'previousSelector': '.previous',
            onNext: function(tab, navigation, index) {
              var $total = navigation.find('li').length;
              var $current = index+1;
              var $percent = ($current/$total) * 100;
              jQuery('#progressWizard').find('.progress-bar').css('width', $percent+'%');
            },
            onPrevious: function(tab, navigation, index) {
              var $total = navigation.find('li').length;
              var $current = index+1;
              var $percent = ($current/$total) * 100;
              jQuery('#progressWizard').find('.progress-bar').css('width', $percent+'%');
            },
            onTabShow: function(tab, navigation, index) {
              var $total = navigation.find('li').length;
              var $current = index+1;
              var $percent = ($current/$total) * 100;
              jQuery('#progressWizard').find('.progress-bar').css('width', $percent+'%');
            }
          });

        });
        jQuery('#datepicker').datepicker();
        jQuery('#datepicker-inline').datepicker();

    </script>

{% endblock %}