<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Factura Reserva</title>
  {% load static from staticfiles %}

  <link href="{%static 'css/style.default.css' %}" rel="stylesheet">

</head>
<div class="col-sm-3"></div>
<div class="contentpanel col-sm-6 small">
     <div class="panel panel-default small">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <table style="width:100%">
                        <tr>
                            <td rowspan="7"><img src="{% static 'images/descarga.png' %}" class="img-responsive mb10" alt=""
                            height="300" width="300"/></td>
                            <th class="text-center" colspan="3"><h5>Reserva No. {{ reserva.pk }}</h5></th>
                        </tr>
                        <tr>
                            <th>Reserva No.</th>
                            <td>{{ reserva.pk }}</td></tr>
                        <tr>
                            <th>Cliente</th>
                            <td>{{ reserva.cliente.full_nombre }}</td>
                            <th>Identificacion.</th>
                            <td>{{ reserva.cliente.identificacion }}</td>
                        </tr>
                            <tr>
                                <th>Direccion</th>
                                <td>{{ reserva.cliente.direccion }}</td>
                            </tr>
                            <tr>
                                <th>Telefono</th>
                                <td>{{ reserva.cliente.telefono }}</td>
                            </tr>
                            <tr>
                                <th>Correo</th>
                                <td>{{ reserva.cliente.correo }}</td>
                                <th>Abono</th>
                                <td>{{ reserva.abono_inicial }}</td>
                            </tr>
                            <tr>
                                <th>Fecha Reserva</th>
                                <td>{{ reserva.fecha_reserva }}</td>
                                <th>Fecha Limite</th>
                                <td>{{ reserva.fecha_limite }}</td>
                            </tr>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table style="width:100%">
                            <tr>
                                <td><small>A</small></td>
                                <td><small>La prenda sera entregada bajo la responsabilidad del CLIENTE y se compromete a pagar el valor total de la prenda</small></td>
                            </tr>
                            <tr>
                                <td><small>B</small></td>
                                <td><small>La prenda no debe ser lavada ni planchada</small></td>
                            </tr>
                            <tr>
                                <td><small>C</small></td>
                                <td><small>Pasadas la 24 horas de retirada la prenda se cobrara $ 1000 diarios</small></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div><!-- row -->
            <div>
            <table class="table table-invoice">
            <thead>
              <tr>
                <th>Articulo</th>
                <th>Tipo</th>
                <th>Valor Unidad</th>
                <th>Valor Total</th>
              </tr>
            </thead>
            <tbody>
            {% for reserva_detail_factura in reserva_detail_factura%}
              <tr>
                <td>
                    <div class="text-primary"><strong>{{ reserva_detail_factura.articulo.referencia }}</strong></div>
                    <small>{{ reserva_detail_factura.articulo.descripcion }}</small>
                </td>
                <td>{{ reserva_detail_factura.articulo.nombre_tipo }}</td>
                {% if reserva_detail_factura.gratis %}
                        <td>0</td>
                        <td>0</td>
                    {% else %}
                        <td>{{ reserva_detail_factura.articulo.precio }}</td>
                        <td>{{ reserva_detail_factura.articulo.precio }}</td>
                {% endif %}
              </tr>
                {% endfor %}

          </table>
          </div><!-- table-responsive -->

            <table class="table table-total">
                <tbody>
                    <tr>
                        <td><strong>Subtotal :</strong></td>
                        <td>{{ suma }}</td>
                    </tr>
                    <tr>
                        <td><strong>Abono Inicial :</strong></td>
                        <td>- {{ reserva.abono_inicial }}</td>
                    </tr>
                    <tr>
                        <td><strong>TOTAL :</strong></td>
                        <td>{{ total }}</td>
                    </tr>
                </tbody>
            </table>


            <div class="mb40"></div>

            <div class="well">
                <p class="text-justify"> Reserva
                </p>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <div class="row"><hr></div>
                    <div class="row"><h5 class="text-center">Firma</h5></div>
                </div>

                <div class="col-lg-2">

                </div>

                <div class="col-lg-5">
                    <div class="row text-center">{{ reserva.cliente.identificacion }}</div>
                    <div class="row"><h5 class="text-center">CC / Nit</h5></div>
                </div>
            </div>
        </div><!-- panel-body -->
      </div><!-- panel -->
    </div>

<body>


<script src="{%static 'js/jquery-1.10.2.min.js' %}"></script>
<script src="{%static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
<script src="{%static 'js/bootstrap.min.js' %}"></script>
<script src="{%static 'js/modernizr.min.js' %}"></script>
<script src="{%static 'js/jquery.sparkline.min.js' %}"></script>
<script src="{%static 'js/toggles.min.js' %}"></script>
<script src="{%static 'js/retina.min.js' %}"></script>
<script src="{%static 'js/jquery.cookies.js' %}"></script>

<script src="{%static 'js/custom.js' %}"></script>

</body>
</html>
